{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Elo Vital - Cuidando de Vidas</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src=" {% static 'assets/logo.png' %}" alt="logo da ong voluntários da alegria" width="100" height="100" />
                </div>
                <ul class="nav-links">
                    <li><a href="#home">Início</a></li>
                    <li><a href="#sobre">Quem Somos</a></li>
                    <li><a href="#causas">Nossas Causas</a></li>
                    <li><a href="#atividades">Atividades</a></li>
                    <li><a href="#transparencia">Transparência</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home" class="hero">
        <div class="container">
            <h1>Inserindo jovens no mundo do voluntariado.</h1>
            <p>A <strong>Voluntários da Alegria</strong> trabalha incansavelmente para oferecer dignidade aos idosos,
                futuro às crianças,
                proteção aos animais e cuidado ao meio ambiente.</p>
            <a href="#sobre" class="hero-btn">Conheça Nosso Impacto</a>
        </div>
    </section>

    <section id="sobre" class="section">
        <div class="container">
            <div class="about-grid">
                <div class="about-text">
                    <div class="section-title" style="text-align: left;">
                        <h2>Nossa História</h2>
                    </div>
                    <p>O projeto nasceu em um encontro de jovens, em 2012, com o apoio de Andrei Rosas, médico do
                        Hospital Pedro Ernesto.
                        Ao longo dos anos, nós passamos a ampliar nossas vertentes. Em 2013 realizamos nossa primeira
                        visita a um orfanato, em 2015, passamos a visitar asilos, em 2016, iniciamos nossos trabalhos
                        voltados ao mundo ambiental e por fim, em 2017, completamos nosso foco com a vertente
                        socioambiental.
                        Estamos atuando a mais de 10 anos, contando com cerca de 100 voluntários!
                    </p>
                    <p><strong>Missão:</strong> Inserir estudantes no mundo voluntariado, estimulando o jovem a doar um
                        pouco de si pelo próximo.</p>
                </div>
                <div class="about-img"></div>
            </div>
        </div>
    </section>

    <section id="causas" class="section causes">
        <div class="container">
            <div class="section-title">
                <h2>Nossos Vertentes</h2>
            </div>

            <div class="causes-grid">
                <div class="card">
                    <div class="card-img img-idosos"></div>
                    <div class="card-content">
                        <h3>Idosos</h3>
                        <p>Adoramos ir até os asilos ver as nossas famosas vovós. Lá, buscamos levar o jogo Bingo,
                            dançar ao som de uma música ao vivo e, é claro, levar um lanchinho para elas.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img img-criancas"></div>
                    <div class="card-content">
                        <h3>Crianças</h3>
                        <p>Quando visitamos orfanatos, abrigos e alas pediátricas de hospitais procuramos levar sempre
                            muitas brincadeiras e, geralmente, um lanchinho ou café da manhã.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img img-animais"></div>
                    <div class="card-content">
                        <h3>Animais</h3>
                        <p>Nossas manhãs nos canis e gatis são cheias de amos! Costumamos a dar banho nos cachorrinhos e
                            limpar os gatinhos. Além disso, também participamos de feirinhas de adoção e passeios.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img img-meio-ambiente"></div>
                    <div class="card-content">
                        <h3>Meio Ambiente</h3>
                        <p>Nessa vertente, procuramos conscientizar a população acerca de temas importantes nas nossas
                            redes. Nosso grupo também participa de ações como limpeza de praia e arrecadação de
                            tampinhas de garrafa pet..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="atividades" class="activities-section">
        <div class="container">
            <div class="section-title">
                <h2>Nossas Atividades Principais</h2>
            </div>

            <div class="activity-row">
                <div class="act-content">
                    <h3>Campanhas</h3>
                    <p>Realizamos campanhas com o objetivo de arrecadar doações em prol de uma instituição ou necessidade específica.</p>
                    <p>As doações podem ser em valor monetário ou não.</p>

                    <ul class="act-list">
                        <li>Arrecadação de doações</li>
                        <li>Mensais</li>
                    </ul>
                </div>
                <div class="act-image">
                    <img src="{% static 'assets/campanhas.png' %}"
                        alt="Idoso e criança interagindo">
                </div>
            </div>

            <div class="activity-row">
                <div class="act-content">
                    <h3>Ações</h3>
                    <p>As ações são visitas realizadas em alguma instituição com o objetivo de fazer uma determinada atividade.</p>
                    <p>Essas atividades podem agregar a eventos com outros projetos sociais.</p>

                    <ul class="act-list">
                        <li>Visitas a instituições</li>
                        <li>Semanais</li>
                    </ul>
                </div>
                <div class="act-image">
                    <img src="{% static 'assets/acao.jpg' %}"
                        alt="Veterinário cuidando de cachorro">
                </div>
            </div>

        </div>
    </section>

    <section id="transparencia" class="bi-section">
        <div class="container">
            <div class="section-title">
                <h2>Portal da Transparência</h2>
                <p>Acompanhe nossos resultados, destinação de recursos e impacto em tempo real.</p>
            </div>

            <div class="bi-container">
                <iframe title="Relatório Ong" width="100%" height="100%"
                    src="https://app.powerbi.com/view?r=eyJrIjoiYjdlYjJmMjQtZWU3Yi00NWIyLTg2MjktYzViODA5ZWE0OGIzIiwidCI6IjE0Y2JkNWE3LWVjOTQtNDZiYS1iMzE0LWNjMGZjOTcyYTE2MSIsImMiOjh9"
                    frameborder="0" allowFullScreen="true">
                </iframe>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <h3>Voluntários da Alegria</h3>
            <p>voluntarios.alegria.contato@gmail.com</p>
            <p>&copy; 2025 Voluntários da Alegria. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>

</html>